@font-face {
  font-family: ComicNeue;
  src: url(fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

* {
  font-family: ComicNeue;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#worldWrapper {
  width: 100%;
  height: 100vh;               /* full viewport height */
  display: flex;
  justify-content: center;     /* center horizontally */
  align-items: center;         /* center vertically */
  position: relative;

  box-sizing: border-box;
  overflow: hidden;
}

#frame {
  position: relative;
  /* initial size equals base size; JS will overwrite to scaled size on load/resize */
  width: 1600px;
  height: 900px;
  display: block;
}

#world {
  width: 1600px;
  height: 900px;
  position: relative;
  transform-origin: top left;  /* simpler when using the frame sizing approach */
  background-image: url(BackyardSunset.png);
  /* border: 1px solid red; */
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/backgrounds/WALL.png);
}




nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#jade {
  margin-left: 30px;
}

.mainFont {
  font-family: ComicNeue;
  font-size: 40pt;
}

.squareIcon {
  width: 100px;
  margin: 10px;
}

.squareIcon:hover, #backyardButton:hover {
  scale: 1.1;
}

#creaturesButton {
  position: absolute;
  top: 0;
  right: 0;
}

/* Floor stretches dynamically */
#floor {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0; /* behind world */
  width: 100%;
  object-fit: cover;
  border-top: black 5px solid;
}

#bench {
  position: absolute;
  bottom: 150px;
  left: 0;
}

#placeDecor {
  background-color: green;
}

#rejectDecor {
  background-color: red;
}

.decorButton {
  color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  font-size: 40px;
  font-weight: bold;
}


#decorPopUp {
  padding: 50px;
  font-size: 30px;
}

#decorButtons {
  display: flex;
  column-gap: 20px;
  align-items: center;
}


/*Encyclopedia stuff*/
.encyclopedia
{
    position: relative;
    background-color: beige; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:80%;
    padding-top: 50%;
    max-width: 1200px;
    max-height: 750px;
}
.encyclopedia-container
{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    pointer-events: none;
    opacity: 0;
    z-index: 1001;
}
.encyclopedia-container.show
{
  pointer-events: auto;
  opacity: 1;
}
#closeEncyclopediaBtn
{
  background-color: beige;
  position: absolute;
  right:1%;
  top:1%;
}

/*Tabs*/
.encyclopediaTab
{
  opacity: 0;
  pointer-events: none;
}
.encyclopediaTab.show
{
  opacity: 1;
  pointer-events: auto;
}
#creatureTab
{
  opacity: 0;
  pointer-events: none;
  background-color: aqua;
}
#creatureTab.show
{
  pointer-events: auto;
  opacity: 1;
}

/*Pages*/
.animalPage{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5,1fr);

  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0%;
  width: 50%;
  height: 100%;
  max-width: 50%;
}
.descPage{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  width: 50%;
  height: 100%;
  max-width: 50%;
  left: 50%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
}
.imgBox{
    position: absolute;
    top: 0%;
    align-content: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.encycloDescTitle{
  position: absolute;
  font-family: ComicNeue;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  top: 35%;
  padding: 0%;
  margin: 0;
}
.encycloDescription{
  font-family: ComicNeue; 
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20pt;
  height: 35%;
  width: 80%;
  background: none;
  position: absolute;
  left: 5%;
  resize: none;
  top: 50%
  
}
.animalBtn{
  display: block;
  height: 8vw;
  width: 8vw;
  
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: beige;
  cursor: pointer;
}
.animal{
    padding: 1vw 5px;
    grid-row:span 1;
}
.encyclopediaImg{
    border: groove;
    width: 40%;
    margin-left: 30%;
    object-fit: contain;
}

.exit_button {
  width: 8%; 
  height: 10%;
  cursor: pointer;
}
.exit_button img{
  width: 100%; 
  height: 100%;
  object-fit: contain;
}
#assignActive
{
  position: absolute;
  bottom: 5%;
  
}
#creaturesTab_btn
{
  background-color: rgb(190, 192, 176);
  position: absolute;
  top: -10%;
  left: 8%;
  border-bottom: none;
}
#encyclopediaTab_btn
{
  background-color: rgb(190, 192, 176);
  position: absolute;
  top: -10%;
  border-bottom: none
}
#creaturesTab_btn.active
{
  background-color: rgb(245, 245, 220);
}
#encyclopediaTab_btn.active
{
  background-color: rgb(245, 245, 220);
}

