.title {
    color: green;
}
.encyclopedia{
    position: fixed;
    background-color: beige; 
    width:80vw;
    height:50vw;
}
#openEncyclopediaBtn{
    float: right;
}
#closeEncyclopediaBtn{
    background-color: beige;
    position: absolute;
    right:0;
    top:0;
}
.encyclopedia-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5); 
    pointer-events: none;
    opacity: 0;
}
.encyclopedia-container.show{
    pointer-events: auto;
    opacity: 1;
}
.animalPage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-items: center;
    height: 50vw;
    width: 40vw;
    right: 50%;
}
.descPage{
    justify-content: center;
    width: 40vw;
    height: 50vw;
    position: absolute;
    left: 50%;
    top:0;
    overflow: hidden;
}
.imgBox{
    position: absolute;
    top: 0%;
    align-content: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
}
#descTitle{
    text-align: center;
    margin-top: 50%;
}
#description{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
}
img{
    border: groove;
    width: 40%;
    margin-left: 30%;
    object-fit: contain;
}
#cat{
    background-image: url(images/cat.jpg);
}
#rat{
    background-image: url(images/rat.jpeg);
}
#dog{
    background-image: url(images/dog.jpeg);
}
.animalBtn{
    display: block;
    height: 8vw;
    width: 8vw;
    background-size: cover; 
}
.animal{
    padding: 1vw 5px;
    grid-row:span 1;
}
body{
    background-color: skyblue;
}
@font-face {
  font-family: ComicNeue;
  src: url(fonts/ComicNeue-Regular.ttf);
}
*{
    font-family: 'ComicNeue'
}
button{
    cursor: pointer; 
}
