/*font*/
@font-face {
  font-family: ComicNeue;
  src: url(fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

*{
    font-family: ComicNeue;
}

body{
    background-image: url(images/singlepaw.png);
}

#shopGem{
    width:20px;
    height:20px;
}

#walletGem{
    width:15px;
    height:15px;
}


/*SHOP! and Shopping Cart Title*/
h1{
    font-size: 65px;
    color: rgb(105, 4, 88);
}

/*Zoo and Tab borders/colors/size*/
#zooTab{
    border: 2px solid rgb(59, 21, 95);
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(238,230,250); 
    font-size: 45px;
    padding: 10px 70px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 0;
    margin-right: 20px;
    
}

/*Backyard Tab borders/colors/size*/
#backyardTab{
    border: 2px solid rgb(13, 21, 67);
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(238,230,250); 
    font-size: 45px;
    padding: 10px 70px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 0;
}

/*padding and border for the line under the tabs*/
#Zoo, #Backyard{
    border-top: 2px solid black;
    padding-top: 20px;
}

/*line under the header for shoppingcart.html*/
#header{
    border-bottom: 2px solid black;
}

/*container to keep zoo and backyard tabs together/having the buttons touch*/
.button-container {
    display: flex;
    padding: 0;
    margin: 0;
}

/*positioning the zoo tab*/
#zooTab{
    margin-left: 25px;
    /*border-right:none;*/
}

/*changing the color of tabs when hovered*/
#bedTab:hover, #paintingsTab:hover, #toysTab:hover,
#zoo-furnitureTab:hover, #zoo-miscTab:hover, #by-furnitureTab:hover, #lightsTab:hover,
#decorTab:hover, #by-miscTab:hover{
    background-color: rgb(131, 113, 185);
}

/*changing the color of tabs when focused*/
#bedTab:focus, #paintingsTab:focus, #toysTab:focus,
#zoo-furnitureTab:focus, #zoo-miscTab:focus, #by-furnitureTab:focus, #lightsTab:focus,
#decorTab:focus, #by-miscTab:focus{
    background-color: rgb(131, 113, 185);
}

#zooTab:hover, #zooTab:focus, #backyardTab:hover, #backyardTab:focus{
    background-color: rgb(131, 113, 185);
}

/*styling the subcategory tabs*/
#bedTab, #paintingsTab, #toysTab, #zoo-furnitureTab, #zoo-miscTab,
#by-furnitureTab, #lightsTab, #decorTab, #by-miscTab{
    border: 2px solid rgb(11, 15, 55);
    background-color: rgb(238,230,250); 
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    
}

/*positioning the wallet/money section*/
#Wallet{
    position: absolute;
    top: 130px;
    right: 60px;
    border: 2px solid black;
    padding: 10px 10px;
    background-color: rgb(238,230,250); 
    z-index: 9999;
    min-width: 350px;
    font-size: 18px;
    line-height: 1.5;
}

/*positioning the shopping cart*/
#ShoppingCart{
    position: fixed;
    top: 250px;
    right: 175px;
    border: 2px solid black;
    padding: 10px 10px 5px 5px;
    background-color: white;
    z-index: 9999;
    min-width: 50px;
    font-size: 18px;
    line-height: 1.5;
}

/*positioning the exit button*/
#ExitButton{
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px;
    line-height: 1.5;
}

#ExitButton:hover{
    cursor:pointer;
}

/*positioning all item sections so their contents line up horizontally*/
#zooItems, #Beds, #Paintings, #Toys, #zooFurniture, #zooMisc,
#byItems, #byFurniture, #Lights, #Decorations, #byMisc {
    position: absolute;
    left: 20px;
    top: 325px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 30px 40px;   
    align-content: flex-start;
}

/*styling each item square/container*/
.item-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20%;
  background-color: rgba(255, 253, 225, 0.635);
  vertical-align: top;
  padding: 10px;
}

.item-container img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.item-container span {
  font-size: 16pt;
}

.item-description {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemName {
  font-weight: bold;
}

.itemAttribute {
  color: darkgreen;
}

/*add to cart placeholder button under each item description */
.addtocartButton {
    display: block;
    width: 100px;
    padding: 8px 10px;
    margin: 8px 30px 5px auto;
    background-color: #f0f0f0;
    border: 2px solid rgb(11, 15, 55);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/*positioning and styling the text inside wallet section*/
#WalletText{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 20px;
}

#cartButtonContainer {
    display: flex;
    justify-content: space-around;
}

#shoppingCartButton {
    border: none;
    background-color: transparent;
}

#shoppingCartButton:hover {
    cursor: pointer;
}

/*quantity style from google*/
.quantity-selector {
  margin: 8px auto -42px 30px;
}

/*quantity style from google*/
.quantity-selector label {
  display: block;
  font-weight: bold;
  margin: 8px 15px 0 auto;
}

/*quantity style from google*/
.quantity-selector select {
  width: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/*quantity style from google*/
/* Add an arrow icon for better visual indication (optional) */
.quantity-selector select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%20197.3l-136.2-136.2c-4.7-4.7-12.3-4.7-17%200L5.4%20197.3c-4.7%204.7-4.7%2012.3%200%2017l11.3%2011.3c4.7%204.7%2012.3%204.7%2017%200l110.7-110.7c4.7-4.7%2012.3-4.7%2017%200l110.7%20110.7c4.7%204.7%2012.3%204.7%2017%200l11.3-11.3c4.7-4.7%204.7-12.3%200-17z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 12px;
  padding-right: 30px; /* Make space for the arrow */
}

/*----------------------------------*/

/*shoppingcart.html styles*/
#cartBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: rgb(105, 4, 88);
    min-height: 500px;
    /*background-color: pink;*/
}

#cartItems{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 70px;
    background-color: rgb(249, 249, 190);
} 

#cartTotal{
    border-top: 2px solid black;
}