@font-face {
  font-family: ComicNeue;
  src: url(../fonts/Comic_Neue/ComicNeue-Regular.ttf);
}

* {
    font-family: ComicNeue;
}

.title {
    color: green;
}

      
p {
font-family: ComicNeue;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
    
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Background.png"); /* Use your own image file */
    background-size: cover;
    background-position: center;
}
    

    
    
#clickImage {
    width: 144px;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.3s ease;
position: relative
    left: 6700px;
}

#clickImage:hover {
    transform: scale(1.05);
}
    
#popupImage:hover {
    transform: scale(1.05);
    cursor: pointer;
}
    
    

#popupImage {
    display: none;
    position: absolute;
    margin-left: 200px; /* Position to the right of clickable image */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: auto;
}
